span{
    padding: 10px;
    border:  solid #457b9d;
    margin: 40px ;
    background-color: #f1faee ;
    outline: 5px solid #a8dadc;
    outline-offset: 10px;
    vertical-align: center;
    display: flex;
    
    
}